{% extends "base.html" %}

{% block title %}Užsakymai{% endblock %}

{% block content %}
<h4>Jūsų užsakymas Nr. {{ order.id }}:</h4>
<p><b>Vartotojas: </b>{{ order.user }}</p>
<p><b>Data: </b>{{ order.date }}</p>
<p><b>Statusas: </b>{{ order.status }}</p>

<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order_edit' order.id %}">Redaguoti</a>
<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order_delete' order.id %}">Ištrinti</a>
<table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">Prekė</th>
        <th scope="col">Kaina</th>
        <th scope="col">Kiekis</th>
        <th scope="col">Suma</th>
    </tr>
  </thead>
    <tbody>
    {% for line in order.lines.all %}
    <tr>
       <th scope="row">{{ line.product.name }}</th>
        <td>{{ line.product.price }}</td>
        <td>{{ line.qty }}</td>
        <td>
            {{ line.suma }}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'orderline_edit' order.id line.id %}">Redaguoti</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'orderline_delete' order.id line.id %}">Ištrinti</a>

        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><b>TOTAL:</b></td>
      <th>{{ order.bendra_suma }}</th>
    </tr>
    </tbody>
</table>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order_newline' order.id %}">Pridėti produktą</a>
{% endblock %}